.auth-container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:var(--bg-color);
  font-family:var(--font-family);
}

.auth-card{
  width:360px;
  background:var(--card-bg);
  padding:40px;
  border-radius:16px;
  box-shadow:0 8px 25px rgba(0,0,0,0.08);
}

.app-title{
  color:var(--secondary-color);
  text-align:center;
  margin-bottom:6px;
}

.subtitle{
  text-align:center;
  color:var(--subtext-color);
  margin-bottom:30px;
}

.input-group{
  display:flex;
  flex-direction:column;
  margin-bottom:18px;
}

.input-group label{
  margin-bottom:6px;
  font-weight:500;
  font-size:14px;
}

.input-group input{
  padding:12px;
  border-radius:10px;
  border:1px solid #ddd;
  outline:none;
  font-size:14px;
}

.input-group input:focus{
  border-color:var(--primary-color);
  box-shadow:0 0 0 2px rgba(58,134,255,0.15);
}

.primary-btn{
  width:100%;
  padding:14px;
  border:none;
  border-radius:12px;
  background:var(--primary-color);
  color:white;
  font-weight:600;
  cursor:pointer;
  margin-top:10px;
  transition:0.2s;
}

.primary-btn:hover{
  background:var(--secondary-color);
}

.switch-text{
  margin-top:20px;
  text-align:center;
  font-size:14px;
  color:var(--subtext-color);
}

.switch-text a{
  color:var(--primary-color);
  font-weight:500;
  text-decoration:none;
}